@import helper._
@(implicit request:  Http.Request)

@main("Personnes View") {
<h1>Formulaire d'ajout personne</h1>
<br>
<form method="POST" action="@controllers.routes.PersonnesCtrl.ajoutPersonne()">
@helper.CSRF.formField
	<label>Nom :</label> <input type="text" name="name" required="required">
	
	<label>Prenom : </label> <input type="text" name="prenom" required="required">
	<label>Age :</label> <input type="number" name="age" required="required">
	
<!-- 	<label>Nombre 1 : </label> <input type="text" name="nbr1"> -->
<!-- 	<label>Nombre 2 :</label> <input type="text" name="nbr2"> -->
	
<br> <br> <br>
<button type="submit"> Enregistrer</button>
</form>
  
}
