@(listesP: List[services.Personne])

@main("Afficher personne") {

  
  <h1>Listes des personnes enregistrer :</h1><br>
  
  <table border="1" >
				<center><h4> <b>L</b>istes des Personnes<br></center>
					<thead>
						 <tr>
							<th style="text-align: center;size: 20px"><b>Numero</b></th>
							<th style="text-align: center"><b>Nom</b></th>
							<th style="text-align: center"><b>Prenom</b></th>
							<th style="text-align: center"><b>Age</b></th>
							<th style="text-align: center" colspan="2"><b>Action</b></th>
						 </tr>
					 </thead>
					 <tbody>
  					@for(p <- listesP){
							 <tr>
							    <td># </td>
								<td>@p.getName() </td>
								<td>@p.getPrenom() </td>
								<td>@p.getAge() </td>
								<td> <a  class="btn btn-primary" title="Modification"
									href="@controllers.routes.PersonnesCtrl.modifView(p.getId())">Modification</a>
									|
								<a  class="btn btn-primary" title="Suppression"
									href="@controllers.routes.PersonnesCtrl.deletePersonne(p.getId()) " onClick="return confirm('Voulez-vous vraiment supprimer cette personne?')" >Suppression</a>
 								</td>
 								
							</tr>
  					}
  					</tbody>
  				</table>
  <br>
   						
}
