@import helper._
@(personne: services.Personne)(implicit request:  Http.Request)

@main("Personnes View") {
<h1>Formulaire d'ajout personne</h1>
<br>
<form method="POST" action="@controllers.routes.PersonnesCtrl.update()">
@helper.CSRF.formField
	<input type="hidden" name="id" value="@personne.getId()">
	
	<label>Nom :</label> <input type="text" name="name" value="@personne.getName()">
	<label>Prenom :</label> <input type="text" name="prenom" value="@personne.getPrenom()">
	<label>Age :</label> <input type="number" name="age" value="@personne.getAge()">
	
<!-- 	<label>Nombre 1 : </label> <input type="text" name="nbr1"> -->
<!-- 	<label>Nombre 2 :</label> <input type="text" name="nbr2"> -->
	
<br> <br> <br>
<button type="submit"> Modifier</button>
</form>
  
}
